<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <h1>Movies List</h1>
    {% if current_user.is_authenticated %}
        <p>Logged in as {{ current_user.username }} |
           <a href="{{ url_for('auth.logout') }}">Logout</a>
        </p>
    {% endif %}


    <!-- Displaying all movies -->
    {% if movies %}
        <ul>
            {% for movie in movies %}
                <li>
                    <strong>{{ movie.title }}</strong>
                    {% if movie.year %} ({{ movie.year }}){% endif %}
                    {% if movie.director %} - Directed by {{ movie.director }}{% endif %}
                    {% if movie.genre %} - Genre: {{ movie.genre }}{% endif %}

                    <!-- edit button -->
                    <a href="{{ url_for('main.edit_movie', movie_id=movie.id) }}">Edit</a>

                    <!-- Delete button -->
                    <form method="POST" action="{{ url_for('main.delete_movie', movie_id=movie.id) }}" style="display:inline;" onsubmit="return confirm('Delete {{ movie.title }}?');">
                        <button type="submit">Delete</button>
                    </form>
                </li>

            {% endfor %}
        </ul>
    {% else %}
        <p>No movies found.</p>
    {% endif %}
    <!-- Link to add a new movie -->
    <a href="{{ url_for('main.add_movie') }}">Add a New Movie</a>
    <br>
    <a href="test.html">Error Page (will go to test.html but does not exist)</a>
</body>
</html>
